RewriteEngine On
#RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.php
#RewriteRule (.*)\.php$ /$1/ [L,R=301]
#RewriteRule (.*)/$ $1.php [L]
#RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^class/([^/]*)/$ /index.php?class=$1 [L]
RewriteRule ^class/([^/]*)/task/([^/]*)/$ /index.php?class=$1&task=$2 [L]
RewriteRule ^logout/([^/]*)/$ /login.php?logout=$1 [L]
RewriteRule ^kb/([^/]*)$ /kb.php?art=$1 [L]
RewriteRule ^kb/$ /kb.php [L]
RewriteRule ^register/$ /register.php [L]
RewriteRule ^login/$ /login.php [L]
RewriteRule ^account/$ /account.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?/$1 [L]
#RewriteRule .*[^/]$ $0/ [L,R=301]
###### IP BANS HERE ######
Order Deny,Allow